/.Build/
/vendor/
/composer.lock
/node_modules/
/var/
/.env
/.vscode/
/.idea/
/.php-cs-fixer.cache
/infection.log
/infection-summary.log
/coverage/
*.coverage.xml
*.coverage.html
/typo3temp/
/.cache/
/.phpunit.result.cache
/test-results/
/playwright-report/
/package-lock.json
