<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
    Assets and JavaScript translations of the passkey login, shared by the
    login plugin (Login/Index.html) and the felogin template override
    (Felogin/Login/Login.html). felogin finds this partial through
    plugin.tx_felogin_login.view.partialRootPaths.1700000000.

    Argument includeDefaultCss: the raw css.includeDefault setting. Compared
    with == '0' so an unset setting keeps the default CSS.
</f:comment>
<f:if condition="{includeDefaultCss} == '0'">
    <f:else><f:asset.css identifier="nr-passkeys-fe-css" href="EXT:nr_passkeys_fe/Resources/Public/Css/passkey-fe.css" /></f:else>
</f:if>
<f:asset.script identifier="nr-passkeys-fe-utils" priority="true" src="EXT:nr_passkeys_fe/Resources/Public/JavaScript/PasskeyUtils.js" />
<f:asset.script identifier="nr-passkeys-fe-login" src="EXT:nr_passkeys_fe/Resources/Public/JavaScript/PasskeyLogin.js" />
<f:asset.script identifier="nr-passkeys-fe-recovery" src="EXT:nr_passkeys_fe/Resources/Public/JavaScript/PasskeyRecovery.js" />

<f:format.raw><script data-nr-passkeys-fe-translations type="application/json">
{
    "js.error.unsupported": "<f:translate key='js.error.unsupported' extensionName='NrPasskeysFe' />",
    "js.error.insecure": "<f:translate key='js.error.insecure' extensionName='NrPasskeysFe' />",
    "js.login.error.noUsername": "<f:translate key='js.login.error.noUsername' extensionName='NrPasskeysFe' />",
    "js.login.error.rateLimit": "<f:translate key='js.login.error.rateLimit' extensionName='NrPasskeysFe' />",
    "js.login.error.generic": "<f:translate key='js.login.error.generic' extensionName='NrPasskeysFe' />",
    "js.login.error.failed": "<f:translate key='js.login.error.failed' extensionName='NrPasskeysFe' />",
    "js.login.error.notAllowed": "<f:translate key='js.login.error.notAllowed' extensionName='NrPasskeysFe' />",
    "js.login.error.security": "<f:translate key='js.login.error.security' extensionName='NrPasskeysFe' />",
    "js.login.error.cancelled": "<f:translate key='js.login.error.cancelled' extensionName='NrPasskeysFe' />",
    "js.login.status.verifying": "<f:translate key='js.login.status.verifying' extensionName='NrPasskeysFe' />",
    "js.login.status.authenticated": "<f:translate key='js.login.status.authenticated' extensionName='NrPasskeysFe' />",
    "js.recovery.error.invalidCode": "<f:translate key='js.recovery.error.invalidCode' extensionName='NrPasskeysFe' />",
    "js.recovery.error.noUsername": "<f:translate key='js.recovery.error.noUsername' extensionName='NrPasskeysFe' />",
    "js.recovery.error.rateLimit": "<f:translate key='js.recovery.error.rateLimit' extensionName='NrPasskeysFe' />",
    "js.recovery.error.invalid": "<f:translate key='js.recovery.error.invalid' extensionName='NrPasskeysFe' />",
    "js.error.network": "<f:translate key='js.error.network' extensionName='NrPasskeysFe' />"
}
</script></f:format.raw>
</html>
