<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:asset.css identifier="nr-passkeys-fe-css" href="EXT:nr_passkeys_fe/Resources/Public/Css/passkey-fe.css" />

<f:form action="login" target="_top" fieldNamePrefix="">
    <div class="card-header d-flex align-items-center justify-content-between py-2 px-3 rounded-top"
         style="background: #f8f9fa; border-bottom: 1px solid rgba(0,0,0,0.08);">
        <div style="font-size: 0.82rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#2F99A4" class="me-1" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/></svg>
            <strong>{user.username}</strong>
        </div>
        <f:form.button type="submit" class="btn btn-sm btn-outline-danger d-inline-flex align-items-center gap-1"
                style="font-size: 0.72rem; padding: 0.15rem 0.6rem; --bs-btn-color: #FF4D00; --bs-btn-border-color: #FF4D00; --bs-btn-hover-bg: #FF4D00; --bs-btn-hover-border-color: #FF4D00;">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/><path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/></svg>
            Sign out
        </f:form.button>
    </div>

    <div class="felogin-hidden">
        <f:form.hidden name="logintype" value="logout"/>
        <f:if condition="{noRedirect}!=''">
            <f:form.hidden name="noredirect" value="1" />
        </f:if>
    </div>
</f:form>
</html>
